.app-wrapper {
  padding: 0;
  height: 100%;

  @media(min-width: 768px){
    height: 100vh;
  }

  .app {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

    .left-sidebar {
      display: none;
      justify-content: center;
      align-items: center;
      box-shadow: 6px 3px 10px 0px rgba(0,0,0,0.46);
-webkit-box-shadow: 6px 3px 10px 0px rgba(0,0,0,0.46);
-moz-box-shadow: 6px 3px 10px 0px rgba(0,0,0,0.46);

      @media(min-width: 768px) {
        display: flex;
      }
    }

    .middlebar {
      display: grid;
      grid-template-columns: 8fr 1fr;
      align-items: center;
      justify-items: center;
      justify-content: center;
      color: white;
      width: 100vw;

      @media(min-width: 768px) {
        width: 75vw;
      }

      .navbar {
        display: flex;
        color: black;
        justify-self: flex-end;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 10vw;
        padding: 0;
        margin-top: 0;
        box-shadow: -6px 3px 10px 0px rgba(0,0,0,0.46);
        -webkit-box-shadow: -6px 3px 10px 0px rgba(0,0,0,0.46);
        -moz-box-shadow: -6px 3px 10px 0px rgba(0,0,0,0.46);

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          list-style: none;
          height: 100%;
          padding: 0;

          li {
            display: flex;
            height: 15vh;
            text-decoration: none;

            .active {
              color: red;
              
              :hover {
                color: black;
              }
            }
  
            a {
              display: flex;
              height: 100%;
              width: 100%;
              font-size: xx-large;
              color: black;
              text-decoration: none;

              :hover {
                color: white;
              }

            }
          }
        }
      }
    }
  }
}
